<div class="container-fluid p-0">

<div class="row">
    <div class="col-12">

     <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/06/GettyImages-1094894550_header-1024x575.jpg?w=1155&h=1528" style="width:100%">
     </div>
</div>
<div class="block-2">
    <div class="row">

    <div class="col-8 offset-2">
        <h1>Get Personalized Pet Matches</h1>
        <h4>Answer a few quick questions to find your perfect match- be it a pet for yourself, or a new human for your pet.</h3>
    </div>

    </div>
</div>

<div class="block-3">
    
</div>

</div>