<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>Pettle</title>
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-fluid p-0">
    <div class="bar"> 
      <div class="contact-info">
        <p>555-917-6719</p>
      </div>
    </div>
    <div class="head">
      <P href="/index">Pettle</P>
    </div>

    <ul class="nav">
      <li class="nav-item">
        {{!-- empty for css reasons --}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view-pets">View Pets</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/view-humans">View Humans</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/survey">Add a Pet or Human</a>
      </li>

      

    {{{ body }}}

    
{{!-- <div class="row">
    
   <div class="col-12">
        <div class="footer">

           
            <h5>Created by Cassidy 2021</h6>

            </div>
         </div>
</div> --}}


</div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/pets-humans.js"></script>
  </div>

</body>

</html>