body {
    background-color: #f5f5f5;
}

.bar {
    background-color: whitesmoke;
    text-align: right;
    color: #696969;
    height: 40px;
}

.contact-info {
    padding: 3px;
    font-size: 15px;
}
.head {
    background-color:#5868e0;
    font-family: 'Bowlby One SC', Helvetica, sans-serif;
    letter-spacing: 5px;
    font-size: 80px;
    color: white;
    padding-left: 5px;
    margin:0px;
    border: 0px;
    height: 120px;

}

#heart {
    opacity: 0
}

p {
    margin: 0px;
}

.nav {
    #172591
    background-color:#172591;
    font-family: 'PT Sans Narrow';

    padding: 0px;
    margin:0px;
    border: 0px;
   height: 80px;
   width: 100%;
}

.nav-link{
    color: #ededed;
    font-size: 25px;
    font-weight: lighter;
    text-transform: uppercase;
    
}

li {
    
    width: 25%;
    text-align: center;
    
};

.nav-link:hover{
    color: white;
    font-weight: bolder;

}










#survey-button {
    
    background-color:#172591;
    font-weight: lighter;
    color: white;
    font-size: 50px;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    height: 230px;
    width: 400px;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #888888;


}

a {
    color:#ededed;
}

a:hover {
    color: white;
    text-decoration:none;
}

.survey {
    margin-top: 50px;
    padding-top: 50px;
    font-family: helvetica;
}

h1 {
   padding-bottom: 5px;
}

.card {
    margin-top: 50px;
    font-family: 'PT Sans Narrow';
    font-size: 20px;
    border-radius: 25px;
    color: #282828
}

.matches-title {
    padding-top: 20px;
    text-align: center;
    font-family: 'PT Sans Narrow';
}

.block-2 {
    height: 40vh;
    background-color:whitesmoke;
    color: #172591;
    text-align: center;
    padding: 10vh;
    margin: 10vh;
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
}

h4 {
    color: black;
}

.block-3 {
    background-color: white;
    height: 60vh;
}

.footer{
    height: 15px;
    background-color:#5868e0;
    color: white;
    font-weight: bold;
}

.icons {
    float:right;
    margin-right: 10px;
    opacity: 0.6;
}

.icons:hover {
    opacity: 1;
}

/* .phone-number {
    padding:10px;
    float: right;
    margin-right: 70%;
    color: darkgrey;
    text-align: left;
    font-size: 20px;

} */